/* 
* Amazium V1.3
* Copyright 2012, Mike Ballan
* www.amazium.co.uk
*/

/***** Screen 960px *****/


.top			 								{ margin:0 auto; margin-top:30px; }	
.base											{ margin:0 auto; margin-bottom:40px; }	
span.example									{ margin-bottom:5px; padding:5px 0 5px 0; background-color:#eee; text-align:center; width:100%; display:block; }

/***** Navigation *****/

.navigation										{ padding:0 0 10px 0; overflow:hidden; height:auto; }

ul.nav 											{ margin:16px 0 40px 0; padding:0; font-size:12px; list-style:none; float:left; text-transform:uppercase; text-align:left; border-bottom:1px solid Black; width:100%; }
ul.nav li										{ margin:0 30px 0 0; padding:0; display:block; text-align:left; float:left; background-image:none; }
ul.nav li a										{ padding:0 0 3px 0; text-decoration:none; line-height:30px; color:#333; }
ul.nav li a:hover,
ul.nav li a.current								{ padding:0 0 3px 0; border-bottom:5px solid #FF0000; text-decoration:none; line-height:30px; color:#333; }

.box											{ padding:15px 15px 5px 15px; border:3px dashed #999; }
.box img										{ margin:0 20px 20px 0; float:left; width:180px; height:auto; }
.box a.btn, .box .btn 							{ color:#FFF; border:1px solid #C53C54; background:#C53C54 url(../images/btn-arrow.png) no-repeat right; }
.box a:hover.btn 								{ color:#FFF; border:1px solid #C53C54; background:#C53C54 url(../images/btn-arrow.png) no-repeat right; }


/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {



}



/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {

/***** Navigation *****/

.navigation    									{ padding:0 0 10px 0; overflow:hidden; height:auto; }

ul.nav 											{ margin:16px 0 40px 0; padding:0; font-size:12px; list-style:none; float:left; text-transform:uppercase; text-align:left; border-bottom:1px solid Black; width:100%; }
ul.nav li										{ margin:0 30px 0 0; padding:0; display:block; text-align:left; float:left; background-image:none; }
ul.nav li a										{ padding:0 0 3px 0; text-decoration:none; line-height:30px; color:#333; }
ul.nav li a:hover,
ul.nav li a.current								{ padding:0 0 3px 0; border-bottom:5px solid #FF0000; text-decoration:none; line-height:30px; color:#333; }

.box											{ padding:15px 15px 5px 15px; border:3px dashed #999; }
.box img										{ margin:0 20px 20px 0; float:left; width:180px; height:auto; }



}



/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {

/***** Navigation *****/



.navigation    									{ padding:0 0 10px 0; overflow:hidden; height:auto; }

ul.nav 											{ margin:16px 0 40px 0; padding:0; font-size:12px; list-style:none; float:left; text-transform:uppercase; text-align:left; border-bottom:1px solid Black; width:100%; }
ul.nav li										{ margin:0 30px 0 0; padding:0; display:block; text-align:left; float:left; background-image:none; }
ul.nav li a										{ padding:0 0 3px 0; text-decoration:none; line-height:30px; color:#333; }
ul.nav li a:hover,
ul.nav li a.current								{ padding:0 0 3px 0; border-bottom:5px solid #FF0000; text-decoration:none; line-height:30px; color:#333; }

.box											{ padding:15px 15px 5px 15px; border:3px dashed #999; }
.box img										{ margin:0 20px 20px 0; float:left; width:180px; height:auto; }

}



/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {

.navigation    									{ padding:0 0 10px 0; overflow:hidden; height:auto; }

ul.nav 											{ margin:16px 0 40px 0; padding:0; font-size:12px; list-style:none; float:left; text-transform:uppercase; text-align:left; border-bottom:1px solid Black; width:100%; }
ul.nav li										{ margin:0 30px 0 0; padding:0; display:block; text-align:left; float:left; background-image:none; }
ul.nav li a										{ padding:0 0 3px 0; text-decoration:none; line-height:30px; color:#333; }
ul.nav li a:hover,
ul.nav li a.current								{ padding:0 0 3px 0; border-bottom:5px solid #FF0000; text-decoration:none; line-height:30px; color:#333; }

.box											{ padding:15px 15px 5px 15px; border:3px dashed #999; }
.box img										{ margin:0 20px 20px 0; float:left; width:180px; height:auto; }

}



/***** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {

.navigation    									{ padding:0 0 10px 0; overflow:hidden; height:auto; }

ul.nav 											{ margin:16px 0 40px 0; padding:0; font-size:12px; list-style:none; float:left; text-transform:uppercase; text-align:left; border-bottom:1px solid #FF0000; width:100%; }
ul.nav li										{ margin:0 30px 0 0; padding:0; display:block; text-align:left; float:left; background-image:none; }
ul.nav li a										{ padding:0 0 3px 0; text-decoration:none; line-height:30px; color:#333; }
ul.nav li a:hover,
ul.nav li a.current								{ padding:0 0 3px 0; border-bottom:5px solid #FF0000; text-decoration:none; line-height:30px; color:#333; }

.box											{ padding:15px 15px 5px 15px; border:3px dashed #999; }
.box img										{ margin:0 20px 20px 0; float:left; width:180px; height:auto; }

}
